body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    
}
.container{
    width: 70%;
    height: 70%;
    margin: 100px auto;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 3rem;
    border-radius: 30px;
}

h1 {
    color: goldenrod;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px #000000;
}

#message-el {
    font-style: italic;
    font-size:2rem ;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    
}
button:hover {
    background: #f2c94c;
    cursor: pointer;
}
button:active {
    background: #f2c94c;
    transform: translateY(4px);
}
button:focus {
    outline: none;
}
